In [1]:
import pandas as pd
import pickle
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("SaYoPillow2.csv")

In [3]:
df.head()

      sr      rr       t      lm      bo    rem   sr.1     hr  sl
0  93.80  25.680  91.840  16.600  89.840  99.60  1.840  74.20   3
1  91.64  25.104  91.552  15.880  89.552  98.88  1.552  72.76   3
2  60.00  20.000  96.000  10.000  95.000  85.00  7.000  60.00   1
3  85.76  23.536  90.768  13.920  88.768  96.92  0.768  68.84   3
4  48.12  17.248  97.872   6.496  96.248  72.48  8.248  53.12   0

In [4]:
target = "sl"
y = df[target]
X = df.drop(target, axis=1)

In [5]:
X.tail()

         sr      rr       t      lm      bo     rem   sr.1     hr
625  69.600  20.960  92.960  10.960  90.960   89.80  3.440  62.40
626  48.440  17.376  98.064   6.752  96.376   73.76  8.376  53.44
627  97.504  27.504  86.880  17.752  84.256  101.88  0.000  78.76
628  58.640  19.728  95.728   9.728  94.592   84.32  6.728  59.32
629  73.920  21.392  93.392  11.392  91.392   91.96  4.088  63.48

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

In [7]:
r1 = RandomForestClassifier(n_estimators=200, random_state=5, max_depth=50)
r2 = GradientBoostingClassifier(max_depth=200, learning_rate=0.2, n_estimators=50, random_state=52)

model = VotingClassifier([('gb', r1), ('rf', r2)], voting='soft')

model.fit(X_train, y_train)
prediction = model.predict(X_test)
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        22
           1       0.97      1.00      0.98        32
           2       1.00      0.94      0.97        16
           3       1.00      1.00      1.00        34
           4       1.00      1.00      1.00        22

    accuracy                           0.99       126
   macro avg       0.99      0.99      0.99       126
weighted avg       0.99      0.99      0.99       126

In [8]:
with open('clf.pkl', 'wb') as file:
    pickle.dump(model, file)

In [9]:
from platform import python_version
print(python_version())

3.10.8